<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar [title]="('Febula' | translate)">
            <!-- <div header-start-content>            </div> -->
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
        <mat-tab-group>
            <mat-tab label="{{ 'Filters' | translate }}">
                <filters-list></filters-list>
            </mat-tab>
            <mat-tab label="{{ 'Profile-Filters' | translate }}">
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</pep-page-layout>