<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar [title]="('System Level Filtering' | translate)">
            <!-- <div header-start-content>            </div> -->
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="{{ 'Filters' | translate }}">
                <filters-list *ngIf="currentTabIndex == 0" [resources]="resources" [filterObjects]="filterObjects" (changesEvent)="onFilterObjectChange($event)"></filters-list>
            </mat-tab>
            <mat-tab label="{{ 'Sync-Filters' | translate }}">
                <profile-filters-list *ngIf="currentTabIndex == 1" [permissionType]="'Sync'" [resources]="resources" [filterObjects]="filterObjects" [filterRules]="filterRules" [filterKeyToNameMap]="filterKeyToNameMap" (changesEvent)="onFilterRuleChange($event)"></profile-filters-list>
            </mat-tab>
            <mat-tab label="{{ 'Online-Filters' | translate }}">
                <profile-filters-list *ngIf="currentTabIndex == 2" [permissionType]="'Online'" [resources]="resources" [filterObjects]="filterObjects" [filterRules]="filterRules" [filterKeyToNameMap]="filterKeyToNameMap" (changesEvent)="onFilterRuleChange($event)"></profile-filters-list>
            </mat-tab>
            <mat-tab label="{{ 'Sync-Visualization' | translate }}">
                <sync-visualization *ngIf="currentTabIndex == 3" [resources]="resources" [filterObjects]="filterObjects" [filterRules]="filterRules" [filterKeyToNameMap]="filterKeyToNameMap"></sync-visualization>
            </mat-tab>

        </mat-tab-group>
    </ng-container>
</pep-page-layout>