<pep-page-layout [addPadding]="true">
    <div pep-main-area>
        <mat-tab-group dynamicHeight #tabGroup [selectedIndex]="activeTabIndex" (selectedTabChange)="tabClick($event)"
            animationDuration="100ms" class="fixed-header">
            <mat-tab id="1" label="{{ 'Filters' | translate }}">
                <filters-list></filters-list>
            </mat-tab>
            <mat-tab id="2" label="{{ 'Profile-Filters' | translate }}">

            </mat-tab>
        </mat-tab-group>
    </div>
</pep-page-layout>